
body {
  
  background-color: gray;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/images/247154.jpg);
}

canvas{
  height: 600px;
  width: 800px;
  border: 4px solid gold;
  background-size: cover;
  background-image: url(../assets/images/247154.jpg);
}
